<div class="container" style="width:1000px">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="md-form">
        <input
          type="text"
          [(ngModel)]="searchText"
          class="form-control"
          id="search"
          mdbInput
        />
        <label for="search">Search</label>
      </div>
    </div>
  </div>
  <table id="tableSortExample" mdbTable #tableEl="mdbTable" class="z-depth-1">
    <thead>
      <tr>
        <th
          *ngFor="let head of headElements; let i = index"
          aria-controls="tableSortExample"
          scope="col"
          [mdbTableSort]="elements"
          [sortBy]="headElements[i]"
        >
          {{ head | uppercase }}
          <mdb-icon fas icon="sort"></mdb-icon>
        </th>
        <th>
          EDIT
        </th>
        <th>
          ENDTASK
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of elements; let i = index">
        <th scope="row">
          {{ el.task }}
        </th>
        <td>
          {{ el.parentTask }}
        </td>
        <td>
          {{ el.priority }}
        </td>
        <td>
          {{ el.startDate }}
        </td>
        <td>
          {{ el.endDate }}
        </td>

        <td>
          <button
            class="transparent"
            color="indigo"
            mdbWavesEffect
            [disabled]="el.enabled"
            (click)="updateTask(el)"
          >
            <mdb-icon fas icon="pen"></mdb-icon>
          </button>
        </td>
        <td>
          <button
            class="transparent"
            color="indigo"
            mdbWavesEffect
            [disabled]="el.enabled"
            (click)="endTask(el)"
          >
            <mdb-icon fas icon="check"></mdb-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
