<!-- Start your project here-->
<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark indigo animated fadeIn"
>
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">
      <img
        src="assets/images/icon-2.png"
        height="50"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">Task Manager</a>
      </li>
      <li class="nav-item">
        <a routerLink="/list" class="nav-link waves-light" mdbWavesEffect
          >List Task</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/add" class="nav-link waves-light" mdbWavesEffect
          >Add Task</a
        >
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
<div class="container-fluid animated fadeIn" style="padding-top: 20px">
  <div class="flex-center flex-column">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- /Start your project here-->
