<!-- Material form register -->
<div style="width:500px">
  <mdb-card>
    <mdb-card-header class="indigo white-text text-center py-4">
      <h5>
        <strong>{{ title }} Task</strong>
      </h5>
    </mdb-card-header>

    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
      <!-- Form -->
      <form
        id="taskForm"
        class="text-center"
        style="color: indigo"
        style="padding-top: 20px"
      >
        <!-- Task -->
        <div class="md-form mt-0">
          <input
            type="text"
            id="taskName"
            class="form-control"
            name="taskName"
            mdbInput
            [(ngModel)]="task.task"
          />
          <label for="taskName">Task</label>
        </div>

        <!-- Parent Task -->
        <div class="md-form">
          <input
            type="text"
            id="parentTaskName"
            class="form-control"
            name="parentTaskName"
            mdbInput
            [(ngModel)]="task.parentTask"
          />
          <label for="parentTaskName">Parent Task</label>
        </div>

        <!-- Priority -->
        <div class="md-form">
          <input
            type="range"
            id="priorityRange"
            class="form-control"
            name="priorityRange"
            mdbInput
            min="0"
            max="30"
            [(ngModel)]="task.priority"
          />
          <label for="priorityRange">Priority</label>
        </div>

        <!-- Start Date -->
        <div class="md-form">
          <input
            type="date"
            id="startDate"
            class="form-control datepicker"
            name="startDate"
            mdbInput
            [(ngModel)]="task.startDate"
          />
          <label for="input">From</label>
        </div>

        <!-- End Date -->
        <div class="md-form">
          <input
            type="date"
            id="endDate"
            class="form-control"
            name="endDate"
            mdbInput
            [(ngModel)]="task.endDate"
          />
          <label for="input">End Date</label>
        </div>
        <!-- Submit button -->
        <button
          mdbBtn
          color="indigo"
          outline="true"
          rounded="true"
          class="my-4 waves-effect z-depth-0"
          mdbWavesEffect
          type="submit"
          [hidden]="isSubmitDisabled"
          (click)="createTask()"
        >
          Submit
        </button>

        <!-- Update button -->
        <button
          mdbBtn
          color="indigo"
          outline="true"
          rounded="true"
          class="my-4 waves-effect z-depth-0"
          mdbWavesEffect
          type="submit"
          [hidden]="isUpdateDisabled"
          (click)="updateTask()"
        >
          Update
        </button>

        <!-- Clear button -->
        <button
          mdbBtn
          color="indigo"
          outline="true"
          rounded="true"
          class="my-4 waves-effect z-depth-0"
          id="reset-btn"
          ng-click="reset()"
          mdbWavesEffect
          type="reset"
        >
          Clear
        </button>
      </form>
      <!-- Form -->
    </mdb-card-body>
  </mdb-card>
</div>
